.tab-pane.hide {
  display: none;
}
.tab-pane.active {
  display: block;
}
.button.active {
  border: none;
  border-bottom: 1px solid black;
}
.button {
  border: none;
}
@media only screen and (max-width: 768px) {
  .product-detail {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 430px) {
  .card-header {
    display: flex;
    flex-wrap: wrap;
  }
}
