:root{
 --ani_csa: 400px;
 --ani_csb: 0px;

}

.cartext_text{
  height: 600px;


}

.ani_oba{
 opacity: 0;

}
.ani_aboua{
  left: var(--ani_csa);
  animation-name: ani_aa;
  animation-duration: 3s;  
  animation-fill-mode: forwards; 
}
@keyframes ani_aa {
  from {left: var(--ani_csa); opacity: 0.3;}
  to {left: var(--ani_csb); opacity: 1.0;}
}

.ani_aboub{
  left: 100px;
  animation-name: ani_ab;
  animation-duration: 3s;  
  animation-fill-mode: forwards; 
}
@keyframes ani_ab {
  from {left: 100px; opacity: 0.3;}
  to {left: 300px; opacity: 1.0;}
}

.ani_abouc{
  top: 150px;
  animation-name: ani_ac;
  animation-duration: 3s;  
  animation-fill-mode: forwards; 
}
@keyframes ani_ac {
  from {top: 150px; opacity: 0.3;}
  to {top: 350px; opacity: 1.0;}
}














  